<h4><%= link_to "New Search", root_path %></h4>
<h1>Search Results</h1>
<h1>Total Results: <%= @results_count %></h1>
<h2>10 Foods Containing ingredient <%= @ingredient %>:</h2>
<h3><% @searched_foods.each do |food| %>
  <ul>
    <li>GTIN/UPC: <%= food.gtin_upc %></li>
    <li>Description: <%= food.description %></li>
    <li>Brand Owner: <%= food.brand_owner %></li>
    <li>Ingredients: <%= food.ingredients %></li>
  </ul>
<% end %></h3>